<h1>New Coupon Page</h1>
<h1> Coupon Form </h1>
<%= form_tag coupons_path do %>
  <label>Coupon Code:</label> <%= text_field_tag :'coupon[coupon_code]', params[:coupon_code], placeholder: "Enter Coupon Code XEJ3K" %>
  <br>
  <label>Store:</label> <%= text_field_tag :'coupon[store]', params[:store], placeholder: "Enter Store Name" %>
  <br>
  <%= submit_tag :'Submit Coupon' %>
<% end %>
